<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM7bZWRUdno93-tyVnW5UPYmM38yF0kwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>716048879946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vis.com.tw.prmsapp</string>
	<key>PROJECT_ID</key>
	<string>vis-prms</string>
	<key>STORAGE_BUCKET</key>
	<string>vis-prms.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716048879946:ios:765e4667c6c56462eab1b3</string>
</dict>
</plist>